.result-wrapper {
  position: absolute;
  inset: 0;
}

.result-dim {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.result {
  position: fixed;
  z-index: 99;
  width: 380px;
  height: 440px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease forwards;
}

.result::-webkit-scrollbar {
  width: 8px;
}

.result::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.result::-webkit-scrollbar-track {
  background: #555;
  border-radius: 10px;
}

.traffic-data-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #34495e;
  margin-bottom: 15px;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 8px;
}

.last-updated {
  color: #7d8c99;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: right;
}

.total-views,
.total-visitors {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.download-btn {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px auto;
  padding: 5px;
  border-radius: 5px;
  background-color: #4caf50;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #45a049;
}

.download-btn:active {
  background-color: #3e8e41;
}

.download-icon {
  width: 14px;
  height: 14px;
  margin-right: 3px;
}

.download-format-selector {
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
  margin-left: 5px;
  font-weight: 500;
}

.download-format-selector:focus {
  outline: none;
}

.download-format-selector option {
  font-weight: 500;
}

.change-view-btn {
  padding: 6px 12px;
  font-size: 12px;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0 8px 0;
}

.filter-error-msg {
  font-size: 12px;
  color: crimson;
}

.date-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 8px;
}

.separator {
  font-size: 18px;
  margin: 0 3px;
  vertical-align: middle;
}

#sort-order {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.traffic-table {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px 1px rgba(94, 94, 94, 0.3);
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;
}

.traffic-table th,
.traffic-table td {
  border: 1px solid #ccc;
  padding: 8px 10px;
  text-align: center;
}

.traffic-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.traffic-table td {
  background-color: white;
  color: #333;
}

.traffic-table tr:hover td {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.traffic-chart {
  width: 100%;
  overflow-x: auto;
}

.chart-wrapper {
  width: max-content;
  min-width: 370px;
  height: 370px;
}

.traffic-chart::-webkit-scrollbar {
  height: 8px;
}

.traffic-chart::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.traffic-chart::-webkit-scrollbar-track {
  background: #b2d4f8;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  background-color: transparent;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -30px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
